.sticky_icon {
  font-size: 20px; }

.post_card {
  word-break: break-word;
  margin: 0 0 40px;
  background: #fff;
  box-shadow: 0 2px 8px -2px rgba(10, 15, 17, 0.071);
  flex: 1 1 180px;
  border-radius: 3px; }

.post_card_thum {
  position: relative;
  width: 100%;
  height: auto; }

.post_card_thum_img {
  display: block;
  max-height: 196px;
  border-radius: 3px; }

.post_card_meta {
  padding: 20px 12px;
  position: relative; }

.post_card_title {
  font-size: 25.5px; }

.typical {
  text-align: right;
  font-size: 14px; }

.summary {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px; }

.on_pagi {
  width: 100%; }

nav.navigation {
  text-align: center;
  width: 100%; }

.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  background: #fff; }


