.dd_widget {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 13px; }

#toggle_dd_archives, #toggle_dd_categories {
  display: none; }

.dd_widget label {
  display: inline-block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  border-radius: 5px; }
  .dd_widget label:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    position: absolute;
    right: 10px; }

.dd_widget ul {
  position: absolute;
  list-style: none;
  text-align: left;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  display: none; }

.dd_widget ul a li {
  padding: 10px;
  background: #fff;
  border: none;
  cursor: pointer; }

.dd_widget ul a li:hover {
  background: #07a;
  color: #fff; }

.dd_widget ul a {
  display: block; }

#toggle_dd_archives:checked ~ ul,
#toggle_dd_categories:checked ~ ul {
  display: block; }


