@charset "utf-8";
/* CSS Document */
body#tinymce.wp-editor { 
	color: #404040;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 16px;
  	font-size: 1rem;
	line-height: 1.5;
}

body#tinymce.wp-editor h1, 
body#tinymce.wp-editor h2, 
body#tinymce.wp-editor h3, 
body#tinymce.wp-editor h4, 
body#tinymce.wp-editor h5, 
body#tinymce.wp-editor h6 {
  font-family: 'Merriweather Sans', sans-serif;
}