body {
  color: #555;
  background: #845b3e; }

a {
  color: #ab5533; }
  a:hover:not(.non_hover) {
    color: #ffb777; }

blockquote {
  background: #bf7c5c;
  border: 1px solid #ab5533; }

table, th, td {
  border: 1px solid #ab5533; }

tbody tr:nth-child(odd) {
  background: #bf7c5c; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #555;
  background: #fff;
  border: 1px solid #ab5533; }

button, input[type="button"], input[type="submit"] {
  background: #ab5533; }
  button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background: #5d2e1c; }

.widget {
  background: #fff; }

.widget_calendar tbody a {
  background: #ab5533;
  color: #fff; }

.widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
  background: #ffb777; }

.search_field {
  border: solid 1px #ab5533; }

.search_submit {
  color: #fff;
  background: #ab5533; }

.wp-caption {
  border: 1px solid #ab5533;
  background: #845b3e; }

.page-links > span {
  background: #ab5533;
  color: #fff; }

.page-links a, .page-links > span {
  border: 1px solid #ab5533; }

.contents_bg {
  background: #fff; }

#oh_wrap {
  background: #5d2e1c; }

#h_wrap {
  background: #ab5533; }

.nav_h2, .f_menu_wrap {
  background: #bf7c5c; }

.site_title a {
  color: #fff; }

.menu_base a {
  color: #fff; }

.humberger:before, .humberger:after {
  background: #fff; }

.humberger:before {
  -webkit-box-shadow: #fff 0 9px 0;
  box-shadow: #fff 0 9px 0; }

.search_m {
  color: #fff; }

.f_widget_wrap {
  background: #ab5533;
  color: #fff; }
  .f_widget_wrap a:not(.icon_base):not(.to_top) {
    color: #fff; }
    .f_widget_wrap a:not(.icon_base):not(.to_top):hover:not(.non_hover) {
      color: #ffb777; }

.credit_wrap {
  background: #5d2e1c;
  color: #845b3e; }
  .credit_wrap a {
    color: #fff; }
    .credit_wrap a:hover {
      color: #ffb777; }

.to_top {
  background: #bf7c5c;
  color: #5d2e1c; }
  .to_top:hover {
    color: #fff; }

#menu_f > li > a,
.nav_h2 #menu_h > li > a {
  color: #5d2e1c; }

.post_card_category {
  background: #ab5533;
  color: #fff;
  border: 1px solid #ab5533; }

.post_date_circle {
  background: #ab5533;
  color: #fff; }

.post_date_circle span:nth-of-type(3) {
  border-top: 1px solid #fff; }

.more_read {
  background: #fff;
  border: 1px solid #ab5533;
  color: #ab5533; }
  .more_read:hover {
    background: #ab5533;
    border-color: #ab5533;
    color: #ffb777; }

.cat_tag_wrap:hover {
  border-color: #ffb777; }

.nav_link_pre, .nav_link_next {
  color: #5d2e1c;
  background: #bf7c5c; }
  .nav_link_pre:hover, .nav_link_next:hover {
    border-color: #ffb777; }

.tab_item {
  border-bottom: 3px solid #845b3e;
  background: #845b3e; }

.tab_content {
  background: #bf7c5c; }

.tabs input:checked + .tab_item {
  background: #bf7c5c;
  border-bottom: 3px solid #bf7c5c; }

.author_lp a {
  color: #5d2e1c; }

.s_d_toc {
  background: #bf7c5c; }

.labbel_hide, .labbel_view {
  color: #ab5533; }

.s_d_bc {
  background: #bf7c5c; }

@media screen and (min-width: 980px) {
  .nav_base li[class*="children"] > ul {
    background: #ab5533; }

  .nav_base > ul > li > a:hover {
    color: #ffb777; }

  .menu_base .sub-menu li:hover,
  .menu_base .children li:hover {
    background: #5d2e1c; }

  .menu_base > li[class*="children"] > ul:after {
    border-bottom: 10px solid #845b3e; }

  .nav_base .sub-menu > li[class*="children"] > ul:before,
  .nav_base .children > li[class*="children"] > ul:before {
    border-left-color: #845b3e; }

  .menu_base > li[class*="children"] > ul:after {
    border-bottom: 10px solid #5d2e1c; }

  #menu_f > li[class*="children"] > ul:after {
    border-bottom: none;
    border-top: 10px solid #5d2e1c; }

  .nav_base .menu_base > li[class*="children"]:last-child ul li ul:before {
    border-right-color: #845b3e; } }


