body {
  color: #555;
  background: #f7f7f7; }

a {
  color: #e53b2b; }
  a:hover:not(.non_hover) {
    color: #5a2222; }

blockquote {
  background: #e8e8e8;
  border: 1px solid #e53b2b; }

table, th, td {
  border: 1px solid #e53b2b; }

tbody tr:nth-child(odd) {
  background: #e8e8e8; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #555;
  background: #fff;
  border: 1px solid #e53b2b; }

button, input[type="button"], input[type="submit"] {
  background: #e53b2b; }
  button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background: #960d00; }

.widget {
  background: #fff; }

.widget_calendar tbody a {
  background: #e53b2b;
  color: #fff; }

.widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
  background: #5a2222; }

.search_field {
  border: solid 1px #e53b2b; }

.search_submit {
  color: #fff;
  background: #e53b2b; }

.wp-caption {
  border: 1px solid #e53b2b;
  background: #f7f7f7; }

.page-links > span {
  background: #e53b2b;
  color: #fff; }

.page-links a, .page-links > span {
  border: 1px solid #e53b2b; }

.contents_bg {
  background: #fff; }

#oh_wrap {
  background: #960d00; }

#h_wrap {
  background: #e53b2b; }

.nav_h2, .f_menu_wrap {
  background: #e8e8e8; }

.site_title a {
  color: #fff; }

.menu_base a {
  color: #fff; }

.humberger:before, .humberger:after {
  background: #fff; }

.humberger:before {
  -webkit-box-shadow: #fff 0 9px 0;
  box-shadow: #fff 0 9px 0; }

.search_m {
  color: #fff; }

.f_widget_wrap {
  background: #e53b2b;
  color: #fff; }
  .f_widget_wrap a:not(.icon_base):not(.to_top) {
    color: #fff; }
    .f_widget_wrap a:not(.icon_base):not(.to_top):hover:not(.non_hover) {
      color: #5a2222; }

.credit_wrap {
  background: #960d00;
  color: #f7f7f7; }
  .credit_wrap a {
    color: #fff; }
    .credit_wrap a:hover {
      color: #5a2222; }

.to_top {
  background: #e8e8e8;
  color: #960d00; }
  .to_top:hover {
    color: #fff; }

#menu_f > li > a,
.nav_h2 #menu_h > li > a {
  color: #960d00; }

.post_card_category {
  background: #e53b2b;
  color: #fff;
  border: 1px solid #e53b2b; }

.post_date_circle {
  background: #e53b2b;
  color: #fff; }

.post_date_circle span:nth-of-type(3) {
  border-top: 1px solid #fff; }

.more_read {
  background: #fff;
  border: 1px solid #e53b2b;
  color: #e53b2b; }
  .more_read:hover {
    background: #e53b2b;
    border-color: #e53b2b;
    color: #fff; }

.cat_tag_wrap:hover {
  border-color: #5a2222; }

.nav_link_pre, .nav_link_next {
  color: #960d00;
  background: #e8e8e8; }
  .nav_link_pre:hover, .nav_link_next:hover {
    border-color: #5a2222; }

.tab_item {
  border-bottom: 3px solid #f7f7f7;
  background: #f7f7f7; }

.tab_content {
  background: #e8e8e8; }

.tabs input:checked + .tab_item {
  background: #e8e8e8;
  border-bottom: 3px solid #e8e8e8; }

.author_lp a {
  color: #960d00; }

.s_d_toc {
  background: #e8e8e8; }

.labbel_hide, .labbel_view {
  color: #e53b2b; }

.s_d_bc {
  background: #e8e8e8; }

@media screen and (min-width: 980px) {
  .nav_base li[class*="children"] > ul {
    background: #e53b2b; }

  .nav_base > ul > li > a:hover {
    color: #5a2222; }

  .menu_base .sub-menu li:hover,
  .menu_base .children li:hover {
    background: #960d00; }

  .menu_base > li[class*="children"] > ul:after {
    border-bottom: 10px solid #f7f7f7; }

  .nav_base .sub-menu > li[class*="children"] > ul:before,
  .nav_base .children > li[class*="children"] > ul:before {
    border-left-color: #f7f7f7; }

  .menu_base > li[class*="children"] > ul:after {
    border-bottom: 10px solid #960d00; }

  #menu_f > li[class*="children"] > ul:after {
    border-bottom: none;
    border-top: 10px solid #960d00; }

  .nav_base .menu_base > li[class*="children"]:last-child ul li ul:before {
    border-right-color: #f7f7f7; } }


